<h1>Success page</h1>

<% if @message.kind_of?(Array) %>
  <% @message.each do |resource| %>
    <p>
      <%= resource['id'] %>
      <%= resource['secret'] %>
    </p>
  <% end %>
<% else %>
  <%= @message %>
<% end %>

<a href="/page_1">Test Page 1</a>
