<p>
  <a href="/">Dashboard</a>
  Resources
  <a href="/oauth_applications">Applications</a>
  <a href="/users/sign_out">Sign Out</a>
</p>
<h1>Resources</h1>
<%= button_to "create resource", resources_path %>
<% @resources.each do |resource| %>
  <p><%= resource.secret %></p>
<% end %>
